div#slider { overflow: hidden; } /* las imágenes no van a salir del márgen de la pantalla*/
div#slider figure img { width: 20%; float: left; height: 400px;}

div#slider figure { 
  position: relative;
  width: 500%;
  margin: 0;
  left: 0;
  text-align: left;
  font-size: 0;
  animation: 30s slidy infinite; /*el movimiento se va a mantener de forma indefinida -infinito-*/
}


/*esta parte del código define el movimiento de las imágenes a la izquierda*/
@keyframes slidy {
0% { left: 0%; }
20% { left: 0%; }
25% { left: -100%; }
45% { left: -100%; }
50% { left: -200%; }
70% { left: -200%; }
75% { left: -300%; }
95% { left: -300%; }
100% { left: -400%; }
}


.payment-data {
    min-height: 0;
    margin-bottom: -30px;
}

.payment-data .container {
    max-width: 100%;
    padding-left: 8px;
    padding-right: 8px;
}

section>.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 40px 0;
}

.payment-data .payment-data-container {
    background-color: #fff;
    border-radius: 4px;
    box-shadow: 0 1px 1px 0 rgb(0 0 0 / 10%);
    display: -webkit-flex;
    display: flex;
    height: 90px;
    margin: 0 auto;
    max-width: 1184px;
    overflow: hidden;
}

.payment-data .payment-data-section {
    -webkit-flex: 1 0 auto;
    flex: 1 0 auto;
    font-size: 18px;
    padding: 20px;
    white-space: nowrap;
    height: 90px;
}

.payment-data .payment-data-icon {
    float: left;
    margin-right: 16px;
    width: 48px;
    height: 54px;
}

.payment-data .payment-data-title {
    display: inline-block;
    margin-top: 1px;
}

.clipped {
    position: absolute;
    z-index: -1;
    border: 0;
    clip: rect(0 0 0 0);
    -webkit-clip-path: inset(50%);
    clip-path: inset(50%);
    margin: 0 -1px -1px 0;
    overflow: hidden;
    padding: 0;
    display: block;
}

.payment-data .payment-data-group {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
}

a,
  a:visited,
  a:hover {
    color: #1976d2;
    text-decoration: none;
  }

  a:hover {
    color: #125699;
  }

  section .section-header h2 {
    font-size: 26px;
    font-weight: 300;
    margin: 0 0 0 8px;
}

.section-header {
    display: -webkit-flex;
    display: flex;
    line-height: 1.2;
    -webkit-align-items: center;
    align-items: center;
}

.discovery__body {
    width: 100%;
    padding-right: 8px;
}

.discovery__body {
    display: -webkit-flex;
    display: flex;
    padding-left: 8px;
}

.discovery .advertising:first-child {
    margin-right: 15px;
    margin-bottom: 15px;
}

.discovery .advertising {
    max-width: 100%;
    height: 250px;
    border-radius: 4px;
    background-color: #fff;
    display: -webkit-flex;
    display: flex;
    overflow: hidden;
    text-decoration: none;
    box-shadow: 0 1px 1px 0 rgb(0 0 0 / 10%);
}

.discovery .advertising {
    width: 50%;
}

.discovery .advertising__info {
    -webkit-flex: 1 0 auto;
    flex: 1 0 auto;
    margin-right: 32px;
    padding: 32px 0 32px 32px;
    -webkit-align-self: center;
    align-self: center;
}

.discovery .advertising__info {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    flex-direction: column;
}

.discovery .advertising__image {
    min-width: 290px;
    height: 250px;
}

.discovery .advertising__image img {
    height: 100%;
    width: auto;
}

.discovery .advertising__image img {
    float: right;
}

.discovery .advertising__info__title {
    font-size: 12px;
    letter-spacing: 4px;
    margin-bottom: 12px;
}

.discovery .advertising__info__title {
    line-height: 1;
    color: #4b4b4b;
    text-transform: uppercase;
    font-weight: 600;
    margin-bottom: 8px;
}

.discovery .advertising__info__text {
    font-size: 28px;
}

.discovery .advertising__info__text--bold {
    font-weight: 600;
}

.discovery .advertising__info__text {
    font-style: normal;
    font-stretch: normal;
    line-height: 1.1;
    text-transform: uppercase;
    letter-spacing: normal;
    color: #4b4b4b;
}

.discovery .advertising__info__button {
    font-size: 14px;
    width: 96px;
    height: 36px;
    line-height: 1px;
}

.discovery .advertising__info__button {
    border-radius: 2px;
    padding: 9px 10px;
    margin-top: 13px;
    font-weight: 600;
}

.andes-button--loud, .andes-button--loud:focus, .andes-button--loud:link, .andes-button--loud:visited {
    border-color: transparent;
    background-color: #3483fa;
    color: #fff;
}

.andes-button--loud {
    cursor: pointer;
    -webkit-transition: box-shadow .25s ease-out,background-color .2s ease-out;
    transition: box-shadow .25s ease-out,background-color .2s ease-out;
    box-shadow: 0 0 0 0 #fff;
}

.andes-button, .andes-button * {
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.andes-button {
    font-family: Proxima Nova,-apple-system,Helvetica Neue,Helvetica,Roboto,Arial,sans-serif;
    font-size: 16px;
    font-weight: 600;
    line-height: 48px;
    padding: 0 24px;
    height: 48px;
    text-align: center;
    border-radius: 6px;
    -webkit-transition: .18s ease-out;
    transition: .18s ease-out;
    -webkit-transition-property: background,color;
    transition-property: background,color;
    display: inline-block;
    width: auto;
    -webkit-font-smoothing: antialiased;
}