<div id="slider">
    <figure>
        <img src="../../assets/img/banner1.JPG" alt="">
        <img src="../../assets/img/banner2.JPG" alt="">
        <img src="../../assets/img/banner3.JPG" alt="">
        <img src="../../assets/img/banner4.JPG" alt="">
        <img src="../../assets/img/banner5.JPG" alt="">
    </figure>
</div>

<section class="payment-data MCO" type="payment-data MCO">
    <div class="container">
        <div class="payment-data-container">
            <h2 class="clipped">Medios de pago</h2>
            <div class="payment-data-group payment-data-group-normal">
                <div class="payment-data-section payment-data-section-normal">
                    <a class="payment-data-icon" routerLink="/index">
                        <img alt="Hasta 48 cuotas" src="https://http2.mlstatic.com/resources/frontend/homes-korriban/assets/images/payments/credit-card.svg">
                    </a>
                    <div class="payment-data-title">Hasta 48 cuotas</div>
                    
                    <div class="payment-data-subtitle">
                        <a routerLink="/index" modal_title="Medios de pago" data-title="Medios de pago" aria-label="Hasta 48 cuotas, Ver más">Ver más</a>
                    </div>
                </div>
                
                <div class="payment-data-section payment-data-section-normal">
                    <a class="payment-data-icon" routerLink="/index">
                        <img alt="Transferencia desde tu banco" src="https://http2.mlstatic.com/resources/frontend/homes-korriban/assets/images/payments/transfer.svg">
                    </a>
                    <div class="payment-data-title">Transferencia desde tu banco</div>
                    <div class="payment-data-subtitle">
                        <a routerLink="/index" modal_title="Medios de pago" data-title="Medios de pago" aria-label="Transferencia desde tu banco, Ver más">Ver más</a>
                    </div>
                </div>
                <div class="payment-data-section payment-data-section-normal">
                    <a class="payment-data-icon" routerLink="/index">
                        <img alt="Paga en efectivo" src="https://http2.mlstatic.com/resources/frontend/homes-korriban/assets/images/payments/payment-agreement.svg">
                    </a>
                    <div class="payment-data-title">Paga en efectivo</div>
                    <div class="payment-data-subtitle">
                        <a routerLink="/index" modal_title="Medios de pago" data-title="Medios de pago" aria-label="Paga en efectivo, Ver más">Ver más</a>
                    </div>
                </div>
            </div>
            <div class="payment-data-group payment-data-group-trailing">
                <div class="payment-data-section payment-data-section-trailing">
                    <a class="payment-data-icon" routerLink="/index">
                        <img alt="Más medios de pago" src="https://http2.mlstatic.com/resources/frontend/homes-korriban/assets/images/payments/view-more.svg">
                    </a>
                    <div class="payment-data-title">Más medios de pago</div>
                    <div class="payment-data-subtitle">
                        <a routerLink="/index" modal_title="Medios de pago" data-title="Medios de pago" aria-label="Más medios de pago, Ver todos">Ver todos</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="discovery" type="discovery">
    <div class="container">
        <div class="section-header"><h2>Puede interesarte</h2></div><br>
        <div class="discovery__body">
            <a class="advertising" routerLink="/index">
                <div class="advertising__info">
                    <span class="advertising__info__title">ENVÍOS RÁPIDOS</span>
                    <span class="advertising__info__text advertising__info__text--bold">24 A 48 HORAS</span>
                    <span class="advertising__info__text advertising__info__text--bold">ENVÍO GRATIS</span>
                    <button class="advertising__info__button andes-button andes-button--small andes-button--loud" aria-label="24 A 48 HORAS ENVÍO GRATIS, VER MÁS">VER MÁS</button>
                </div>
                <div class="advertising__image">
                    <img src="../../assets/img/cell.JPG" alt="ENVÍOS RÁPIDOS">
                </div>
            </a>
            <a class="advertising" routerLink="/index">
                <div class="advertising__info">
                    <span class="advertising__info__title">SEMANA DE RECESO</span>
                    <span class="advertising__info__text advertising__info__text--bold">AUDIO Y MÁS</span>
                    <span class="advertising__info__text advertising__info__text--bold">HASTA 35% OFF</span>
                    <button class="advertising__info__button andes-button andes-button--small andes-button--loud" aria-label="AUDIO Y MÁS HASTA 35% OFF, VER MÁS">VER MÁS</button>
                </div><div class="advertising__image">
                    <img src="../../assets/img/estufa.JPG" alt="SEMANA DE RECESO">
                </div>
            </a>
        </div>
    </div>
</section>